#main {
  margin: 0px auto;
  width: 630px;
}

.grid, .grid * {
  box-sizing: content-box;
}

.grid {
  padding: 0;
  margin: 0;
  float: left;
  outline: 1px solid #b4b4b4;
}

.grid .tile {
  color: white;
  background-color: #00b9f3;
  width: 70px;
  height: 60px;
  outline: 1px solid #ffffff;
  float: left;
  line-height: 67px;
  text-align: center;
  font-size: 30px;
}

.grid .tile.active {
  background-color: #3abf5e;
}

.info-container {
  padding-bottom: 50px;
  margin-top: 20px;
}

.btn {
  width: 55%;
  float: left;
  margin-left: 10px;
}

.called-numbers{
  width: 40%;
  float: right;
  text-align: center;
}

.called-numbers div {
  width: 35px;
  height: 35px;
  background-color: red;
  -moz-border-radius: 35px;
  border-radius: 20px;
  float:left;
  margin-right: 7px;
}

.called-numbers span {
  color: white;
  font-size: 20px;
  position: relative;
  top: 4px;
}

.current-number {
  clear: both;
  background-color: #00bc2a;
  margin-top: 20px;
  margin-right: 40px;
  width: 100px;
  height: 100px;
  text-align: center;
  -moz-border-radius: 49px;
  border-radius: 49px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.current-number span {
  color: white;
  font-size: 50px;
  position: relative;
  top: 19px;
}

.animated { 
  -webkit-animation-duration: 0.5s; 
  animation-duration: 0.5s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in; 
  animation-timing-function: ease-in; 
} 

@-webkit-keyframes pulse { 
  0% { -webkit-transform: scale(1); } 
  50% { -webkit-transform: scale(1.1); } 
  100% { -webkit-transform: scale(1); } 
} 

@keyframes pulse { 
  0% { transform: scale(1); } 
  50% { transform: scale(1.1); } 
  100% { transform: scale(1); } 
} 

.pulse { 
  -webkit-animation-name: pulse; 
  animation-name: pulse; 
}

.clouds-flat-button {
  position: relative;
  vertical-align: top;
  width: 97px;
  height: 35px;
  padding: 0;
  font-size: 22px;
  color:#454545;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ecf0f1;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
}

.clouds-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
